/*A CSS rule is made up of a selection of a selector(s) followed by curly barces.
Within the Curly braces are your CSS statements (various CSS properties and their values).
1. general styles
2. layout
    a. Header


<selector(s)>
{
    <property>: <value>;
}
*/

/*General styles*/
body
{
    background-color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*
        this is a font stack. It is used to provide fallback fonts. First in order is what is used, then subsiquent
        fonts are used if the first is not available
    
    line-height: 1.2;
    font-size: 16px; /*standard font size is 16 pixels*/
    font: 16px/1.2 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*lenght units (measurements)
    ===============================
    px are absolute units
    em is a relative unit  - relative to the parent's font size
    */
}

/*
    Default link styles
    link-related pseudoclasses
    :link (select and emelent which is a link)
    :visited (a link which has already been visites)
    :hover (a link which is being hovered over)
    :active (link that has mousedown but not mouseup)
*/

a:link
{
    color: red;
}
a:hover
{
    color: green;
}
a:visited
{
    color: brown;
}
a:active
{
    color: magenta;
}

/*LAYOUT*/

#header
{
    background-color: white;
    font-size: 1em;
    padding: 1em;
    border-bottom: 5px solid black;
}

.inline-menu
{
    margin: 0;
    padding: 0;
}

.inline-menu li
{
    display: inline-block;
    margin-right: 4em;
}

/*in addition to last child you can have first child, or nth-child <number or pattern>-child*/
.inline-menu li:last-child
{
    margin-right: 0em;
}

/*
Select the heading class
*/

#site-name a:link
{
    font-weight: bold;
    letter-spacing: -1;/*changes kerning*/
    color: red;
    text-decoration: none;
}

.heading
{
    font-weight: normal;
    color: purple;
    border: 1px solid green;
    border-bottom: orange;
}

/*
    select all h2 stuff
*/

#sidebar
{
    font-size: 0.85em;
}

#weather
{
    text-decoration: none;
}

.site-heading
{
    font-weight: normal;
    color: purple;
    border: 2px solid red;
}

/*Button Styles*/

button,
a.button
{
    background-color: orange;
    color: black;

    /*for padding
       4 value padding: <padding-top> <padding-right <padding-bottom> <padding-left>
       2 value padding: <padding-top-and-bottom> <padding-Left-and-Right>
       1 value padding: <value on all sides>
    */

    padding: 0.5em 0.8em;
    font-size: 0.5em;

    /* for borders
        4 value border radius: <border top> <border right> <border bottom><border left>
        2 value border radius: <border top-left and Bottom right> <border top right and bottom left>
    */

    border-radius: 0.2em;
    border:none; /*removes any border*/
    text-decoration: none; /*remove default underline*/
    display: inline-block;/*inherit font-family from parent*/
    text-align: center; /*endures button behaves as a block*/

}